.wwh-container {
    width: 100%;
    height: 1112px;
    padding: 70px 278px 0;
}

.wwh-title--box {
    height: 110px;
    display: flex;
    justify-content: center;

    h1 {
        font-family: 'Open Sans', sans-serif;
        font-size: 38px;
        color: #3C3C3C;
        text-align: center;
        line-height: 55px;
        margin-bottom: 25px;
    }

    img {
        width: 253px;
        height: 33px;
        margin-bottom: 50px;
    }
}

.wwh-buttons--box {
    height: 80px;
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}

.wwh-button {
    height: 80px;
    width: 210px;
    background: transparent;
    border: 1px solid transparent;
}

.wwh-button:hover {
    border: 1px solid $darker-gray;
}

.wwh-content {
    height: 553px;
}

.description-box {
    height: 94px;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
}

.description-text {
    width: 640px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}

.org-container {
    height: 330px;
    display: flex;
    flex-direction: column;
}

.fund-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: $darker-gray;
    padding: 30px 0;
}

.fund-container:nth-child(2) {
    border: 1px solid #707070;
    border-left: none;
    border-right: none;
}

.fund-name {
    font-size: 26px;
    line-height: 32px;
    font-weight: 300;
}

.fund-mission {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    font-style: italic;
}

.fund-givings {
    font-size: 18px;
    line-height: 22px;
}

.num-pages--container {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.previous {
    display: none;
}

.next {
    display: none;
}

.pages-count {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $darker-gray;
}

.pages-count a {
    border: 1px solid transparent;
    padding: 10px 10px;
    margin: 0 20px;
    cursor: pointer;
}

.pages-count a:hover {
    border: 1px solid $darker-gray;
}

.active-page a {
    border: 1px solid $darker-gray;
}

.active-page a:focus {
    outline: none;
}